In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('iphone.csv')

In [3]:
df.shape

(62, 10)

In [4]:
#11 - find total no of reviews for iphone 11 and iphone 12 category . Output should have only 2 rows (for question no 11 and 12)

# Categorize products based on 'Product Name' using str.contains
df['iPhone Category'] = 'Other'

In [5]:
df.head(4)

,Product Name,Product URL,Brand,Sale Price,Mrp,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram,iPhone Category
0,"APPLE iPhone 8 Plus (Gold, 64 GB)",https://www.flipkart.com/apple-iphone-8-plus-g...,Apple,49900,49900,3431,356,MOBEXRGV7EHHTGUH,4.6,2 GB,Other
1,"APPLE iPhone 8 Plus (Space Grey, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVAC6TJT4F,4.6,2 GB,Other
2,"APPLE iPhone 8 Plus (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVGETABXWZ,4.6,2 GB,Other
3,"APPLE iPhone 8 (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-silver...,Apple,77000,77000,11202,794,MOBEXRGVMZWUHCBA,NaN,2 GB,Other

In [6]:
df.loc[df['Product Name'].str.contains('iPhone 11', case=False), 'iPhone Category'] = 'iPhone 11'

In [7]:
df.loc[df['Product Name'].str.contains('iPhone 12', case=False), 'iPhone Category'] = 'iPhone 12'

In [8]:
#11 - find total no of reviews for iphone 11 and iphone 12 category . Output should have only 2 rows (for question no 11 and 12)

# Group by 'iPhone Category' and calculate the total number of reviews for each category
category_reviews = df.groupby('iPhone Category')['Number Of Reviews'].sum().reset_index()

In [9]:
category_reviews

  iPhone Category  Number Of Reviews
0           Other              87251
1       iPhone 11              25965
2       iPhone 12               2208

In [10]:
# Filter for 'iPhone 11' and 'iPhone 12' categories
result_df = category_reviews[category_reviews['iPhone Category'].isin(['iPhone 11', 'iPhone 12'])]

In [11]:
result_df

  iPhone Category  Number Of Reviews
1       iPhone 11              25965
2       iPhone 12               2208